main {
    padding: 10px;
    background-color: #F9F9F9;
}

body {
    box-sizing: border-box;
    background-color:  #EBEBEB;
}

#wrapper {
    background-color: #CECECE;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 0;
    padding: 10px;
}

header h1 {
    color:   #151d89 ;
    text-shadow: 2px 2px 5px gray;
}
nav {
    display: none;
}

main {
    width: 70%;
}

main .content {
    margin-right: 50px;
}
main img {
    float: right;
    margin: 20px;
}
article {
    float: right;
    width: 200px;
    margin: 20px;
}

article h3 {
    color: #1c5077;
    border-bottom: 3px solid #AAAAAA;
    padding-bottom: 5px;
}

article p {
    font-size: 0.9em;
    color:  #232323;
}

footer {
    display: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #1c5077;
}

nav a:visited {
    color: #3a95d9;
}

nav a:hover {
    color: orange;
}
